
@using ProjectPRN222.Models
@model List<Subject> 
@{
    ViewData["Title"] = "SubjectList";
    Layout = "_HomepageLayout";
}
<body id="bg">
    <div class="page-wraper">
        <div id="loading-icon-bx"></div>
        <header class="header rs-nav header-transparent">
            <!-- login -->
            @await Html.PartialAsync("Login")
            @await Html.PartialAsync("Header")
            @await Html.PartialAsync("Register")

        </header>
        <!-- Content -->
        <div class="page-content">
            <!-- inner page banner -->
            <div class="page-banner ovbl-dark" style="background-image:url(assets/images/banner/banner2.jpg);">
                <div class="container">
                    <div class="page-banner-entry">
                        <h1 class="text-white">Subject List</h1>
                    </div>
                </div>
            </div>

            <!-- contact area -->
            <div class="content-block">
                <div class="section-area section-sp1">
                    <div class="container">
                        <div class="row">
                            <!-- Left part start -->
                            <div class="col-lg-8">
                                <div class="sort-options">
                                    <form method="get" action="subject_list" style="display: flex; align-items: center; width: 100%;">
                                        <label for="sortBy" style="margin-right: 10px; white-space: nowrap;">Sort by:</label>
                                        <div>
                                            @* <label style="margin-right: 10px"> *@
                                            @*     <input type="radio" name="sort" value="featured" ${param.sort= ='featured' ? 'checked' : '' } onchange="this.form.submit()"> Featured *@
                                            @* </label> *@
                                            @* <label style="margin-right: 10px"> *@
                                            @*     <input type="radio" name="sort" value="latest" ${param.sort= ='latest' ? 'checked' : '' } onchange="this.form.submit()"> Latest *@
                                            @* </label> *@
                                            @* <label> *@
                                            @*     <input type="radio" name="sort" value="oldest" ${param.sort= ='oldest' ? 'checked' : '' } onchange="this.form.submit()"> Oldest *@
                                            @* </label> *@
                                        </div>
                                    </form>
                                </div>


                                @foreach (var c in Model) 
                                {
                                    @* if (string.IsNullOrEmpty("a") || *@
                                    @* (c.Description != null && c.Description.ToLower().Contains("A".ToLower()))) *@
                                    @* { *@
                                        <div class="blog-post blog-md clearfix">
                                            <div class="ttr-post-media">
                                                <a href="@Url.Action("Detail","SubjectList", new { subject_id = c.SubjectId })">
                                                    <img src="@c.Thumbnail" alt="" />
                                                </a>
                                            </div>
                                            <div class="ttr-post-info">
                                                <ul class="media-post">
                                                    <li><i class="fa fa-calendar"></i>@c.CreatedDate</li>
                                                    <li><b>@c.Tagline</b></li>
                                                </ul>
                                                <h5 class="post-title">
                                                <a href="@Url.Action("Detail","SubjectList", new { subject_id = c.SubjectId })">
                                                        @c.SubjectName
                                                    </a>
                                                </h5>
                                                <p>@c.Description</p>
                                                <div class="post-extra">
                                                    @if (ViewBag.selectedPackageModel != null)
                                                    {
                                                        @* var pkg = YourNamespace.YourPackageDAO.GetListPackageBySubjectID(c.SubjectId).FirstOrDefault(); *@
                                                        @* if (pkg != null) *@
                                                        @* { *@
                                                        @*     <del>@pkg.ListPrice$</del> *@
                                                        @*     <h4 class="price">@pkg.SalePrice$</h4> *@
                                                        @* } *@
                                                    }
                                                    <div style="margin-left: 50px;"></div>
                                                <a href="#" class="btn btn-primary open-login-popup">Register</a>
                                                </div>
                                            </div>
                                        </div>
                                    @* } *@
                                }

                                <!-- Pagination start -->
                                <div class="col-lg-12 m-b20">
                                    <div class="pagination-bx rounded-sm gray clearfix" style="text-align: center;">
                                        <ul class="pagination" style="display: flex; justify-content: center; align-items: center;">
                                            <li class="previous"><a href="#"><i class="ti-arrow-left"></i> Prev</a></li>
                                            <li class="active"><a href="#">1</a></li>
                                            <li class="next"><a href="#">Next <i class="ti-arrow-right"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Pagination END -->
                            </div>
                            <!-- Left part END -->
                            <!-- Side bar start -->
                            <div class="col-lg-4 sticky-top">
                                <aside class="side-bar sticky-top">
                                    <div class="widget">
                                        <h6 class="widget-title">Search</h6>
                                        <div class="search-bx style-1">
                                            <form role="search" method="get" action="subject_list">
                                                <div class="input-group">
                                                    <input name="keyword" value="${param.keyword != null ? param.keyword : ''}" class="form-control" placeholder="Enter your keywords..." type="text" id="output">
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="fa fa-search text-primary"></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="widget widget_tag_cloud">
                                        <h6 class="widget-title">Categories</h6>
                                        <div class="search-bx style-1">
                                            <form role="search" method="get" action="searchByCategory">
                                                <div class="input-group">
                                                    <input name="text" class="form-control" placeholder="Enter your keywords..." type="text" id="output">
                                                    <input name="category" type="hidden" value="${param.category != null ? param.category : ''}">
                                                    <span class="input-group-btn">
                                                        <button type="submit" class="fa fa-search text-primary"></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </div>
                                        <br>
                                    </div>
                                    <br>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="back-to-top fa fa-chevron-up"></button>
        <!-- scroll top button -->
    </div>
</body>