@using ProjectPRN222.Models

@model List<Subject>
@{
    ViewData["Title"] = "Homepage";
    Layout = "_HomepageLayout";
}
    <div class="page-wraper" id="bg" onload="LoginAgain()">
            <div id="loading-icon-bx"></div>
            <header class="header rs-nav header-transparent">
        @await Html.PartialAsync("Login")
        @await Html.PartialAsync("Header")
        @await Html.PartialAsync("Register")

            </header>

    <div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url('@Url.Content("~/assets/images/background/bg1.jpg")');">
        <div class="container">
            <div class="mw800 m-auto" >
                <p style="opacity:0"> aaaaaa</p>
            </div>
            <div class="mw800 m-auto">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="cours-search-bx m-b30">
                            <div class="icon-box">
                                <h3><i class="ti-user"></i><span>@ViewBag.TotalUsers</span>K</h3>
                            </div>
                            <span class="cours-search-text">Over @ViewBag.TotalUsers K Users</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="cours-search-bx m-b30">
                            <div class="icon-box">
                                <h3><i class="ti-book"></i><span>@ViewBag.TotalSubjects</span>K</h3>
                            </div>
                            <span class="cours-search-text">@ViewBag.TotalSubjects K Subjects</span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="cours-search-bx m-b30">
                            <div class="icon-box">
                                <h3><i class="ti-layout-list-post"></i><span>@ViewBag.TotalLessons</span>K</h3>
                            </div>
                            <span class="cours-search-text">Learn @ViewBag.TotalLessons K Lessons.</span>
                        </div>
                    </div>
                </div>
            </div>
            <a href="@Url.Content("~/web/admin/bookmark.html")"></a>
        </div>
    </div>

                <div class="content-block">
                    <!-- Featured Subject -->
            <div class="section-area section-sp2 bg-fix ovbl-dark" style="background-image:url(assets/images/background/bg1.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 heading-bx left">
                            <h2 class="title-head" style="color: white">All <span>Subject</span></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="courses-carousel owl-carousel owl-btn-1 col-12 p-lr0">
                            @if (Model != null && Model.Any())
                            {
                                foreach (var subject in Model)
                                {
                                    @* if (subject.Description?.Contains(keyword, StringComparison.OrdinalIgnoreCase) == true *@
                                    @* || subject.SubjectName?.Contains(keyword, StringComparison.OrdinalIgnoreCase) == true) *@
                                    @* { *@
                                        <div class="item" style="width: 300px; height: 350px;">
                                            <div class="cours-bx" style="background-color: #fff; width: 100%; height: 100%; border-radius: 5px;">
                                                <div class="action-box" style="width: 100%; height: 57%;">
                                                    <img src="@subject.Thumbnail" alt="" style="width: 100%; height: 100%;" />
                                                    <a href="@Url.Action("Detail","SubjectList", new { subject_id = subject.SubjectId })" class="btn">Read More</a>
                                                </div>
                                                <div class="info-bx text-center" style="padding: 10px;">
                                                    <h5>
                                                    <a href="@Url.Action("Detail","SubjectList", new { subject_id = subject.SubjectId })"
                                                           style="color: black; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                            @subject.Description
                                                        </a>
                                                    </h5>
                                                    <span>@subject.Tagline</span>
                                                </div>
                                                <div class="cours-more-info">
                                                    <div class="review">
                                                        <i class="fa fa-user"></i> <span>Author</span>
                                                <p style="font-size:small; font-weight: bold" >@subject.Account.LastName @subject.Account.FirstName </p>
                                                    </div>
                                                    <div class="price">
                                                        @if (true)
                                                        {
                                                        <i class="fa fa-user"></i> <span>Price</span>
                                                            var pkg = subject.Packages.First();
                                                    <p style="font-size:small; font-weight: bold">@pkg.SalePrice$</p>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <!-- Popular Courses END -->

                    <!-- Form -->


        <!-- contact area END -->
            </div>
            @* <%@include file="\common\footer.html" %> *@
            <button class="back-to-top fa fa-chevron-up" ></button>